#profile .profile-image {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#profile .profile-info .name {
  font-size: 1.5rem;
}
#profile .profile-info .email, #profile .profile-info .phone {
  font-size: 1.3rem;
}
#profile #tier {
  position: relative;
}
#profile #tier .progress-bg {
  height: 15px;
}
#profile #tier .progress-percent-bar {
  height: 15px;
}
#profile #tier .progress-percent-bar.bronze {
  width: 2%;
}
#profile #tier .progress-percent-bar.silver {
  width: 25%;
}
#profile #tier .progress-percent-bar.gold {
  width: 50%;
}
#profile #tier .progress-percent-bar.platinum {
  width: 75%;
}
#profile #tier .progress-percent-bar.diamond {
  width: 100%;
}
#profile #tier .tier {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
#profile #tier .tier img {
  width: 100%;
  height: 100%;
}
#profile #tier .bronze {
  left: -3%;
}
#profile #tier .silver {
  left: 22%;
}
#profile #tier .gold {
  left: 47%;
}
#profile #tier .platinum {
  left: 72%;
}
#profile #tier .diamond {
  left: 97%;
}

#authorize .authorized-assets-table .table-responsive table thead tr th:nth-child(1) {
  min-width: 120px;
}
#authorize .authorized-assets-table .table-responsive table thead tr th:nth-child(2) {
  min-width: 230px;
}
#authorize .authorized-assets-table .table-responsive table thead tr th:nth-child(3) {
  min-width: 245px;
}

@media screen and (max-width: 600px) {
  #profile .profile-image {
    width: 150px;
    height: 150px;
  }
  #profile .profile-info .name {
    font-size: 1.2rem;
  }
  #profile .profile-info .email, #profile .profile-info .phone {
    font-size: 1.1rem;
  }
  #tier .progress-bg {
    height: 10px !important;
  }
  #tier .progress-percent-bar {
    height: 10px !important;
    width: 25% !important;
  }
  #tier .tier {
    width: 25px !important;
    height: 25px !important;
  }
  #authorize .nav-tabs .nav-item .nav-link, #setting .nav-tabs .nav-item .nav-link, #redeem .nav-tabs .nav-item .nav-link {
    font-size: 0.75rem;
  }
  #authorize .nav-tabs .nav-item .active, #setting .nav-tabs .nav-item .active, #redeem .nav-tabs .nav-item .active {
    font-weight: bold;
  }
  #authorize .table-explain, #setting .table-explain, #redeem .table-explain {
    font-size: 0.7rem;
  }
  #authorize .authorized-assets-table .table-responsive table thead tr th, #setting .authorized-assets-table .table-responsive table thead tr th, #redeem .authorized-assets-table .table-responsive table thead tr th {
    font-size: 0.8rem;
  }
  #authorize .authorized-assets-table .table-responsive table tbody tr td, #setting .authorized-assets-table .table-responsive table tbody tr td, #redeem .authorized-assets-table .table-responsive table tbody tr td {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 600px) {
  #profile .profile-image {
    width: 200px;
    height: 200px;
  }
  #authorize .table-explain {
    font-size: 0.9rem;
  }
  #authorize .authorized-assets-table .table-responsive table thead tr th {
    font-size: 0.95rem;
  }
  #authorize .authorized-assets-table .table-responsive table tbody tr td {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 768px) {
  #profile .profile-image {
    width: 250px;
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  #profile .profile-image {
    width: 250px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  #profile .profile-image {
    width: 250px;
    height: 250px;
  }
}/*# sourceMappingURL=profile.css.map */