.main {
    .back {
        padding-left: 100px;
        font-size: 1rem;
        background-color: #fbf7ee;

        .backBtn {
            cursor: pointer;
        }
    }

    .project-detail-card {
        .main-image-div {
            width: 90%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .detail-text-div {
            .category {
                font-size: 1rem;
                // font-size: 1rem;
            }

            .finished-badge {
                font-size: 1rem;
            }

            .price-range {
                font-size: 2.5rem;
                // font-weight: bold;
            }

            .address {
                font-size: 1.2rem;
            }

            .facts {
                .table {
                    width: 75%;
                }

                td {
                    font-size: 1rem;
                    padding: 0 !important;

                }
            }

            .entity {
                .amenity-head {
                    font-size: 1.2rem;
                }

                span {
                    font-size: 1rem;
                    font-weight: 300;

                }
            }
        }
    }

    .project-map {
        .map {
            .iframe-map {
                height: 400px !important;
                border: none;
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// start Device responsive

//mobile sm 320
@media screen and (max-width:374px) {
    .main {
        .back {
            padding-left: 5%;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        .project-detail-card {
            .main-image-div {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: .9rem;
                }

                .finished-badge {
                    font-size: .9rem;
                }

                .price-range {
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                .address {
                    font-size: 1rem;
                    line-height: 1;
                }

                .facts {
                    .table {
                        width: 100%;
                    }

                    td {
                        font-size: .8rem;
                        padding: 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: .9rem;

                    }

                    span {
                        font-size: .8rem;

                    }
                }
            }
        }

        .project-gallery {
            .gallery {
                .row {
                    flex-wrap: nowrap !important;
                    overflow-x: scroll;
                }
            }

            /* custom scrollbar */
            ::-webkit-scrollbar {
                width: 20px;
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 250px !important;
                    border: none;
                }
            }
        }
    }
}

@media screen and (min-width:374px) and (max-width:424px) {
    .main {
        .back {
            padding-left: 5%;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        .project-detail-card {
            .main-image-div {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: 1rem;
                }

                .finished-badge {
                    font-size: 1rem;
                }

                .price-range {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .address {
                    font-size: 1.2rem;
                    line-height: 1;
                }

                .facts {
                    .table {
                        width: 100%;
                    }

                    td {
                        font-size: 1rem;
                        padding: 1px 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.1rem !important;

                    }

                    span {
                        font-size: 1rem;

                    }
                }
            }
        }

        .project-gallery {
            .gallery {
                .row {
                    flex-wrap: nowrap !important;
                    overflow-x: scroll;
                }
            }

            /* custom scrollbar */
            ::-webkit-scrollbar {
                width: 20px;
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 250px !important;
                    border: none;
                }
            }
        }
    }

}

@media screen and (min-width:424px) and (max-width:768px) {
    .main {
        .back {
            padding-left: 5%;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        .project-detail-card {
            .main-image-div {
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: 1rem;
                }

                .finished-badge {
                    font-size: 1rem;
                }

                .price-range {
                    font-size: 1.5rem;
                    // font-weight: bold;
                }

                .address {
                    font-size: 1.2rem;
                    line-height: 1;
                }

                .facts {
                    .table {
                        width: 100%;
                    }

                    td {
                        font-size: 1rem;
                        padding: 1px 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.1rem;
                    }

                    span {
                        font-size: 1rem;

                    }
                }
            }
        }

        .project-gallery {
            .gallery {
                .row {
                    flex-wrap: nowrap !important;
                    overflow-x: scroll;
                }
            }

            /* custom scrollbar */
            ::-webkit-scrollbar {
                width: 20px;
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 250px !important;
                    border: none;
                }
            }
        }
    }

}

@media screen and (min-width:768px) and (max-width:1023px) {
    .main {
        .back {
            padding-left: 5%;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        // padding-top: 4.7rem !important;
        .project-detail-card {
            .main-image {
                padding-left: 15px;
            }

            .main-image-div {
                width: 100%;

                //  padding-left: 15px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: 1rem;
                }

                .finished-badge {
                    font-size: 1rem;
                }

                .price-range {
                    font-size: 2.2rem;
                    // font-weight: bold;
                }

                .address {
                    font-size: 1.5rem;
                }

                .facts {
                    td {
                        font-size: 1.1rem;
                        padding: 0 !important;
                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.2rem;
                    }

                    span {
                        font-size: 1.1rem;

                    }
                }
            }
        }

        .project-gallery {
            .gallery {
                .row {
                    flex-wrap: nowrap !important;
                    overflow-x: scroll;
                }
            }

            /* custom scrollbar */
            ::-webkit-scrollbar {
                width: 20px;
            }

            ::-webkit-scrollbar-track {
                background-color: transparent;
            }

            ::-webkit-scrollbar-thumb {
                background-color: #d6dee1;
                border-radius: 20px;
                border: 6px solid transparent;
                background-clip: content-box;
            }

            ::-webkit-scrollbar-thumb:hover {
                background-color: #a8bbbf;
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 300px !important;
                    border: none;
                }
            }
        }
    }

}

@media screen and (min-width:1024px) and (max-width:1365px) {
    .main {
        .back {
            padding-left: 5%;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        .project-detail-card {
            .main-image-div {
                width: 90%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: 1rem;
                }

                .finished-badge {
                    font-size: 1rem;
                }

                .price-range {
                    font-size: 2.6rem;
                    font-weight: bold;
                }

                .address {
                    font-size: 1.5rem;
                }

                .facts {
                    td {
                        font-size: 1.2rem;
                        padding: 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.3rem;

                    }

                    span {
                        font-size: 1.2rem;

                    }
                }
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 400px !important;
                    border: none;
                }
            }
        }
    }

}

@media screen and (min-width:1365px) and (max-width:1439px) {
    .main {
        .back {
            padding-left: 120px;
            font-size: .9rem;

            .backBtn {
                cursor: pointer;
            }
        }

        .project-detail-card {
            .main-image-div {
                width: 90%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    font-size: 1.4rem;
                }

                .finished-badge {
                    font-size: 1.4rem;
                }

                .price-range {
                    font-size: 2.6rem;
                    // font-weight: bold;
                }

                .address {
                    font-size: 1.5rem;
                }

                .facts {
                    td {
                        font-size: 1.2rem;
                        padding: 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.3rem;

                    }

                    span {
                        font-size: 1.2rem;

                    }
                }
            }
        }

        .project-map {
            .map {
                .iframe-map {
                    height: 400px !important;
                    border: none;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) and (max-width:2550px) {
    .main {
        .project-detail-card {
            .main-image-div {
                width: 90%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .detail-text-div {
                .category {
                    .bi {
                        font-size: 1rem;
                    }

                    span {
                        font-size: 1rem;
                    }
                }

                .finished-badge {
                    .badge {
                        font-size: 1rem;
                    }
                }

                .price-range {
                    span {
                        font-size: 2.5rem;
                    }
                }

                .address {
                    div {
                        font-size: 1.2rem;
                    }
                }

                .facts {
                    .table {
                        width: 75%;
                    }

                    td {
                        font-size: 1rem !important;
                        padding: 0 !important;

                    }
                }

                .entity {
                    .amenity-head {
                        font-size: 1.1rem !important;
                    }

                    span {
                        font-size: 1rem !important;
                        font-weight: 300;

                    }
                }
            }
        }
    }
}

// end Device responsive

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////